<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="showdiv">
        <div class="showimg">
            <img src="<%= info.image %>" class="showimg">
            <h3><%= info.title %></h3>
        </div>
        <div class="showdetails">
            <h2>Hotelinfo</h3>
                
                <h4><%= info.description %></h4>
                <h4>PRICE : &#8377; <%= info.price.toLocaleString("en-IN") %></h3>
                <h4>LOCATION : <%= info.location %></h3>
                <h4> COUNTRY : <%= info.country %></h3>
                <br>
                <form method="GET" action="/hotelinfo/<%= info._id %>/edit">
                    <button class="btn">EDIT HOTELINFO</button>
                </form><br>
                <form method="post" action="/hotelinfo/<%= info._id %>/delete?_method=delete">
                    <button class="btn">DELETE HOTELINFO</button>
                </form>
        </div>
    </div>
       
       
</body>
